<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523619586198-vob4r2u9fjmll3k9mlrctgo79rr1ig1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523619586198-vob4r2u9fjmll3k9mlrctgo79rr1ig1q</string>
	<key>API_KEY</key>
	<string>AIzaSyDDX4whcpCooDHa4BWZyvdWmnF0e9dY7vw</string>
	<key>GCM_SENDER_ID</key>
	<string>523619586198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>niko.kharkevich.DemoChat</string>
	<key>PROJECT_ID</key>
	<string>demochat-f4441</string>
	<key>STORAGE_BUCKET</key>
	<string>demochat-f4441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:523619586198:ios:21f50a0e78c5d49deb32b7</string>
</dict>
</plist>
